.header {
  height: auto;
}

.header .title {
  font-size: 40px;
  color: silver;
  margin-left: 20px;
  line-height: 80px;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #ddd;
}

.loginBtns {
  margin: 3px;
}

.btn {
  margin: 2px;
  display: inline-block;
  padding: 7px 15px;
  font-size: 14px;
  border-radius: 6px;
  background-color: #2db7f5;
  color: #fff;
}

.btn:hover {
  background-color: #57c5f7;
  color: #fff;
}
