.header {
  height: auto;
  position: relative;
}

.header a .title {
  color: silver;
  margin-left: 20px;
  line-height: 80px;
  padding: 5px 0;
  width: 90px;
}

.nav {
  position: relative;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #ddd;
}

.btn {
  margin: 2px;
  display: inline-block;
  font-size: 10px;
  color: #000;
}

.btn:hover {
  color: #2db7f5;
}

.menu {
  line-height: 97px;
}

.menu_a {
  font-size: 20px;
}

.login {
  position: absolute;
  top: 2px;
  right: 10px;
}
