.fromGroup {
  padding: 10px;
  min-height: 30px;
  width: 100%;
  clear: both;
}

.fromGroup label {
  float: left;
  cursor: pointer;
  margin: 0 10px;
  line-height: 30px;
}

.fromGroup div {
  float: left;
}

.title {
  width: 100%;
  margin: 10px auto;
  padding-left: 1em;
  font-size: 18px;
  font-weight: bold;
}
